@import '../../styles/base/base';

.quote-container {
  column-gap: 16px;
  display: grid;
  grid-template-columns: 1fr 18px;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 30px;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    max-width: 575px;

    font-size: 18px;
    line-height: 28px;
  }

  &.--expanded {
    display: none;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__author {
    margin-top: 8px;

    @media (min-width: $breakpoint-tablet) {
      font-weight: bold;
      margin-top: 12px;
    }
  }
}

.refresh-btn {
  align-self: start;
  background: none;
  border: none;
  cursor: pointer;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 5px;
  }
}
