@import '../../styles/base/base';

.quote-container {
  column-gap: 16px;
  color: $white;
  display: grid;
  grid-template-columns: 1fr 18px;
  font-size: 12px;
  line-height: 22px;

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__author {
    margin-top: 8px;
  }
}

.refresh-btn {
  align-self: start;
  background: none;
  border: none;
}
