@import '../../styles/base/base';

.information-wrapper {
  height: 0;

  &.--active {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(40.7742px);
    height: 250px;
    padding: 48px 26px;
  }
}
