@import './base/base';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: $white;
  font-family: $main-font;
  min-height: 100vh;
  padding: 32px 26px 40px 26px;
}

.background {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  &.--day {
    background-image: url(../assets/mobile/bg-image-daytime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
