@import './base/base';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body,
#root,
.App,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

body {
  color: $white;
  font-family: $main-font;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px 26px 40px 26px;

  &.--expanded {
    height: calc(100% - 250px);
  }
}

.background {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  &.--day {
    background-image: url(../assets/mobile/bg-image-daytime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $breakpoint-tablet) {
      background-image: url(../assets/tablet/bg-image-daytime.jpg);
    }

    @media (min-width: $breakpoint-laptop) {
      background-image: url(../assets/desktop/bg-image-daytime.jpg);
    }
  }

  &.--night {
    background-image: url(../assets/mobile/bg-image-nighttime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $breakpoint-tablet) {
      background-image: url(../assets/tablet/bg-image-nighttime.jpg);
    }

    @media (min-width: $breakpoint-laptop) {
      background-image: url(../assets/desktop/bg-image-nighttime.jpg);
    }
  }
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  height: 0;

  &.--active {
    background: green;
    height: 200px;
  }
}
