@import '../../styles/base/base';

.clock-container {
  margin-top: 225px;

  &__greeting {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &__time {
    display: flex;
    margin: 16px 0;

    &__current-date {
      font-size: 100px;
      font-weight: 700;
      line-height: 100px;
    }

    &__time-zone {
      align-self: flex-end;
      font-size: 15px;
      font-weight: 300;
      line-height: 28px;
      margin-left: 5px;
    }
  }
}
