@import '../../styles/base/base';

.clock-container {
  margin-top: auto;

  &__greeting {
    display: flex;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      font-size: 18px;
      letter-spacing: 3.6px;
      line-height: 28px;
    }

    & img {
      margin-right: 16px;
    }
  }

  &__time {
    align-items: baseline;
    display: flex;
    margin: 16px 0;

    &__current-date {
      font-size: 100px;
      font-weight: 700;
      line-height: 100px;

      @media (min-width: $breakpoint-tablet) {
        font-size: 175px;
        line-height: 175px;
      }
    }

    &__time-zone {
      font-size: 15px;
      font-weight: 300;
      line-height: 28px;
      margin-left: 5px;

      @media (min-width: $breakpoint-tablet) {
        font-size: 32px;
        margin-left: 12px;
      }
    }
  }

  &__location {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 28px;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      font-size: 18px;
      letter-spacing: 3.6px;
    }
  }
}

.expand-btn {
  align-items: center;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3.75px;
  line-height: 14px;
  margin-top: 48px;
  padding-left: 18px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
    letter-spacing: 5px;
    padding-left: 20px;
  }

  // Change icon background color
  &:hover {
    & * {
      background: #999999;
    }
  }

  // Change button text color
  & span {
    opacity: 50%;
  }

  &__icon {
    background: #303030;
    border-radius: 50%;
    height: 32px;
    margin: 3px 4px 4px 15px;
    padding: 12px;

    @media (min-width: $breakpoint-tablet) {
      height: 40px;
      margin: 8px 8px 8px 12px;
      width: 45px;
    }

    &.--active {
      transform: rotate(180deg);
    }
  }
}
