@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$main-font: 'Inter', sans-serif;

//Colors
$white: #ffffff;
$mine-shaft: #303030;

// Media breakpoints
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
